body{
   background-color: aquamarine;

}
img{
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
   
}
h1{
    color: rgb(238, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center ;
    font-size:200%;
    transition: font-size 0.5s, color 0.5s ease-in-out; ease-in-out;
}
h1:hover{
    font-size: 220%;
    color: rgb(243, 198, 252);
}
h2{ color: rgb(238, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
#menu{
    background-color: rgb(243, 198, 252);
    padding: 2%;
    width: 800px;
    position: relative;
    float: right;
    margin-right: 150px;
    margin-top:100px; ;
border-radius: 20px;
}
select {
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    padding: 5px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
button{
    border-radius: 5px;
    border-width: 4px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif ;
    border-color: rgb(189, 189, 243);
    background-color: rgb(159, 159, 246);
    color: aliceblue;
}
#menuelement{
    background-color: rgb(93, 225, 255);
    color: aliceblue;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    padding-left: 10px ;
}
h3{
    padding-top: 20px;
}
#price{
    text-align: right ;
}
p{
  line-height: 120%;
}
#sim{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 18%;
    margin-bottom: 5%;

}
#ice{
    margin-left: 25%;
    margin-top: 6%;

}